#home{
  background-color: lightsalmon;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a
{
    text-decoration: none;
    color: white!important;
}
.about1
{
    padding-top: 100px;
    padding-bottom: 100px;
}
.ab1 h3
{
    font-size: 40px;
}
.ab1 p
{
    font-size: 28px;
}
.ab1
{
    padding-bottom: 50px;
}
.cir1 li
{
    width:10;
    height: 10;
    border-radius: 50%;
}
.carousel-indicators .active
{
    background-color: #f9461d;
}
.ab2 p
{
    font-size: 18px;
}
.ab2 a
{
    background-color: #f9461d;
    padding: 15 30;
}
hr
{
    height: 1px;
    width:60px;
    background-color: #f9461d;   
}